.navbar-brand .navbar-item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 50px;
}

.icon {
  color: black;
}

#timerange .field {
  max-width: 210px;
}

.tab-content,
.input-form {
  position: relative;
}

.tab-content {
  height: 70vh;
  overflow: auto;
  padding: 1.5rem;
  padding-top: 3rem;
}

.copy-button,
.disclaimer {
  position: absolute;
  top: 2%;
  right: 4%;
  opacity: 0.5;
  z-index: 1; /* Ensure it's above other elements */
}

.copy-button:hover {
  opacity: 1;
}

.input-form {
  padding: 1.5rem;
}

.is-loading::after {
  content: "Is Loading...";
}

.content ol {
  margin-left: 1em;
}

@media screen and (max-width: 769px) {
  .box {
    box-shadow: none;
  }

  .input-form {
    padding: 0rem;
  }

  .tabs li {
    font-size: 0.7rem; /* Adjust the font size for smaller tabs */
    padding: 0; /* Adjust padding for smaller tabs */
  }

  .tab-content {
    height: 75vh;
    padding: 1rem;
    padding-top: 3rem;
  }

  .disclaimer {
    top: 1%;
    right: 1%;
  }
}
